.resenyaPpal {
	resize: none;
	width: 700px;
	height: 200px;
	font-size: 19px;
	background: rgb(245, 245, 220);
	background: radial-gradient(circle, rgba(245, 245, 220, 1) 0%, rgba(238, 195, 174, 1) 100%);
	border:rgba(238, 195, 174, 1);
}

.posit {
	resize: none;
	background: transparent;
	width: 450px;
	height: 250px;
	border: none;
	font-size: 18px;
}

.botonesGuardado {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

* {
	margin: 0;
	padding: 0;
}

.cuadrosTexto {
	font-family: arial, sans-serif;
	display: flex;
	justify-content: space-around;
}

ul,li {
	list-style: none;
	margin-top: 1em;
}

ul {
	overflow: hidden;
	padding: 3em;
}

/*Cambia el espacio entre las notas y la dirección*/
ul li {
	margin: 1em;
	float: left;
}

ul li h2 {
	font-size: 140%;
	font-weight: bold;
	padding-bottom: 10px;
}

ul li p {
	font-family: "Reenie Beanie", arial, sans-serif;
	font-size: 180%;
}


ul li a:hover,
ul li a:focus {
	box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-webkit-transform: scale(1.25);
	position: relative;
	z-index: 5;
}

ul li a {
	text-decoration: none;
	color: #000;
	background: rgb(248, 248, 71);
	display: block;
	height: 20em;
	width: 30em;
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
}

ul li:nth-child(even) a {
	position: relative;
	background: rgb(95, 231, 95);
}

ul li:nth-child(3n) a {
	position: relative;
	background: #ccf;
}
